.internal-recover-password {
  &-wrapper {
    align-items: center;
    display: flex;
    height: auto;
    justify-content: center;
    margin: 0;
    min-height: 100%;
    min-width: 100%;
    padding: 0;
    position: relative;
    width: auto;
  }

  &-container {
    width: 100%;
    z-index: 1;

    .internal-recover-password-form-button {
      width: 100%;

      &-primary {
        background: #1e9cd9;
        border: 0.1rem solid #1e9cd9;
        color: #fff;
      }

      &-secondary {
        background: transparent;
        border: 1px solid #d9d9d9;
        color: #fff;
      }
    }

    :global {
      .ant-form .ant-form-item-label label {
        color: #fff;
      }

      .ant-form-item-control {
        margin-bottom: 1.3rem;
      }

      .ant-form-item-control-input {
        text-align: center;

        a,
        a:hover {
          color: #fff;
          text-decoration: none;
        }
      }

      .sera-input.ant-form-item {
        & .ant-input:not([type="password"]) {
          border-radius: 2rem;
        }

        & .ant-input-affix-wrapper {
          border-radius: 2rem;
        }

        & .ant-input-affix-wrapper-status-error,
        .ant-form-item-explain-error {
          color: #ff4d4f;
        }
      }
    }

    .arrow-left {
      padding-right: 1.5rem !important;
    }
  }

  &-logo {
    background: url("/images/logo.svg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 20px;
    margin: 0;
    padding: 0;
    width: 88.42px;
  }

  &-description {
    color: #fff;
    padding: 0 0 3rem;

    a {
      color: #fff;
      text-decoration: underline;
    }
  }
}
