registry=https://pkgs.dev.azure.com/seradevelopment/419cc3e7-1bfc-4264-a073-aa9309853863/_packaging/Feed-Frontend-2025/npm/registry/

always-auth=true

; begin auth token
//pkgs.dev.azure.com/seradevelopment/419cc3e7-1bfc-4264-a073-aa9309853863/_packaging/Feed-Frontend-2025/npm/registry/:username=seradevelopment
//pkgs.dev.azure.com/seradevelopment/419cc3e7-1bfc-4264-a073-aa9309853863/_packaging/Feed-Frontend-2025/npm/registry/:_password=MWk3TDM3bnpMUFloMWFrSlNUa2JQbTBXSkhlbWNEV1pPWTdxSkVuemdicFpjbkpzWGZDUEpRUUo5OUJLQUNBQUFBQWJzRVlKQUFBU0FaRE8xWjJi
//pkgs.dev.azure.com/seradevelopment/419cc3e7-1bfc-4264-a073-aa9309853863/_packaging/Feed-Frontend-2025/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/seradevelopment/419cc3e7-1bfc-4264-a073-aa9309853863/_packaging/Feed-Frontend-2025/npm/:username=seradevelopment
//pkgs.dev.azure.com/seradevelopment/419cc3e7-1bfc-4264-a073-aa9309853863/_packaging/Feed-Frontend-2025/npm/:_password=MWk3TDM3bnpMUFloMWFrSlNUa2JQbTBXSkhlbWNEV1pPWTdxSkVuemdicFpjbkpzWGZDUEpRUUo5OUJLQUNBQUFBQWJzRVlKQUFBU0FaRE8xWjJi
//pkgs.dev.azure.com/seradevelopment/419cc3e7-1bfc-4264-a073-aa9309853863/_packaging/Feed-Frontend-2025/npm/:email=npm requires email to be set but doesn't use the value
; end auth token
