@use "@sera-assets/sass/mixins" as *;
@import "@sera-assets/sass/variables";

.sera-card-insight {
  background-color: $primary-subtle;
  border: solid 2px transparent;
  border-radius: 1.2rem;
  box-shadow: 0 0.6rem 0.8rem rgb(117 158 250 / 15%);
  cursor: pointer;

  &:hover {
    background-color: $primary-main;
  }

  &--fixed {
    width: 100%;
  }

  .rectangled {
    &-primary {
      &::before {
        background: linear-gradient(
          269.91deg,
          $primary-main -1.27%,
          $primary-subtle 100%
        );
        border-bottom-right-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
        content: "";
        display: inline-block;
        height: 100px;
        left: 0;
        position: absolute;
        width: 0.5rem;
      }
    }

    &-success {
      &::before {
        background: linear-gradient(
          225deg,
          $success-main 0%,
          $success-subtle 100%
        );
        border-bottom-right-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
        content: "";
        display: inline-block;
        height: 100px;
        left: 0;
        position: absolute;
        width: 0.5rem;
      }
    }

    &-default {
      &::before {
        background: linear-gradient(
          269.91deg,
          $essentials-background -1.27%,
          $essentials-white 100%
        );
        border-bottom-right-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
        content: "";
        display: inline-block;
        height: 100px;
        left: 0;
        position: absolute;
        width: 0.5rem;
      }
    }

    &-danger {
      &::before {
        background: linear-gradient(
          225deg,
          $danger-main 0%,
          $danger-subtle 100%
        );
        border-bottom-right-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
        content: "";
        display: inline-block;
        height: 100px;
        left: 0;
        position: absolute;
        width: 0.5rem;
      }
    }
  }

  &.active {
    background-clip: content-box, border-box;
    background-origin: border-box;
    box-shadow: none;

    &.primary {
      border: solid 2px $primary-main;

      :global {
        .ant-card {
          &-content {
            .selected {
              color: $primary-main;
            }
          }
        }
      }
    }

    &.success {
      border: solid 2px $success-subtle;

      :global {
        .ant-card {
          &-content {
            .selected {
              color: $accent-subtle;
            }
          }
        }
      }
    }

    &.warning {
      border: solid 2px $warning-subtle;

      :global {
        .ant-card {
          &-content {
            .selected {
              color: $warning-subtle;
            }
          }
        }
      }
    }

    &.danger {
      border: solid 2px $danger-subtle;

      :global {
        .ant-card {
          &-content {
            .selected {
              color: $danger-subtle;
              display: block;
            }
          }
        }
      }
    }

    &.default {
      border: solid 2px $essentials-background;

      :global {
        .ant-card {
          &-content {
            .value {
              font-weight: 700;
            }

            .selected {
              color: $essentials-background;
            }
          }
        }
      }
    }

    :global {
      .ant-card {
        &-meta {
          &-title,
          &-detail {
            font-weight: 700;
          }
        }

        &-content {
          .value {
            font-weight: 700;
          }

          .selected {
            display: block;
          }
        }
      }
    }
  }

  :global {
    .ant-card {
      &-body {
        background-image: url("data:image/svg+xml,%3Csvg width='191' height='137' viewBox='0 0 191 137' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.4' clip-path='url(%23clip0_2334_55866)'%3E%3Cpath d='M3 165H43.7448C50.8171 165 57.8894 163.788 64.5789 161.159C80.3002 154.971 90.3231 143.627 96.517 115.5C105.324 75.5133 136.091 74.25 136.091 74.25H191.881C196.814 74.25 201.701 73.2961 206.273 71.2336C219.787 65.1234 244 47.5148 244 0C244 0 153.073 0 117.306 0C101.067 0 84.94 3.91875 70.3449 12.0914C69.4664 12.5813 68.5655 13.0969 67.6646 13.6383C46.6503 26.2195 31.447 48.6234 25.0504 74.7656L3 165Z' fill='url(%23paint0_linear_2334_55866)'/%3E%3Cg style='mix-blend-mode:multiply' opacity='0.5' filter='url(%23filter0_i_2334_55866)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M47.5908 164.999H128.188C129.977 160.254 131.554 154.797 132.939 148.499C133.664 145.207 134.537 142.177 135.529 139.388V165H285V98.9999H251.721C264.81 89.8283 280.242 70.956 280.242 32.9995H153.703C137.484 32.9995 121.376 36.9183 106.799 45.0909C105.922 45.5808 105.022 46.0964 104.122 46.6378C83.1335 59.219 67.9488 81.6229 61.56 107.765L47.5908 164.999Z' fill='url(%23paint1_linear_2334_55866)'/%3E%3C/g%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_i_2334_55866' x='47.5908' y='32.9995' width='237.409' height='138' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='6'/%3E%3CfeGaussianBlur stdDeviation='4'/%3E%3CfeComposite in2='hardAlpha' operator='arithmetic' k2='-1' k3='1'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0.648681 0 0 0 0 0.791502 0 0 0 0 0.980768 0 0 0 0.5 0'/%3E%3CfeBlend mode='normal' in2='shape' result='effect1_innerShadow_2334_55866'/%3E%3C/filter%3E%3ClinearGradient id='paint0_linear_2334_55866' x1='112.93' y1='8.7353' x2='37.2347' y2='157.235' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23759EFA' stop-opacity='0.3'/%3E%3Cstop offset='1' stop-color='%23A5CAFA' stop-opacity='0'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear_2334_55866' x1='182.887' y1='32.9995' x2='41.1557' y2='111.23' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23A5CAFA'/%3E%3Cstop offset='1' stop-color='%23A5CAFA' stop-opacity='0'/%3E%3C/linearGradient%3E%3CclipPath id='clip0_2334_55866'%3E%3Crect width='191' height='137' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
        background-position: right;
        background-repeat: no-repeat;
        border-radius: 1.2rem;
      }

      &-meta {
        &-title {
          color: #000;
          line-height: 2.4rem;
          text-overflow: unset;
          white-space: unset;
        }

        &-detail {
          display: flex;
          flex-direction: column;
          height: 4.8rem;
          justify-content: center;
          width: 100%;
        }

        &-avatar {
          padding: 0.4rem 0.8rem 0 0;

          .ant-avatar {
            background: linear-gradient(
              225deg,
              $essentials-background 0%,
              $essentials-border 100%
            );
            border-radius: 1.2rem;
            box-shadow: 0 6px 8px $primary-subtle;
            height: 4rem;
            line-height: 3rem;
            padding: 0.8rem;
            position: relative;
            width: 4rem;

            &-icon {
              color: $essentials-white;
              font-size: 2.4rem;

              .anticon {
                vertical-align: 0.875em;
              }
            }

            &-primary {
              background: linear-gradient(
                269.91deg,
                $primary-main -1.27%,
                $primary-subtle 100%
              );
              box-shadow: 0 0.6rem 0.8rem $primary-subtle;
            }

            &-success {
              background: linear-gradient(
                225deg,
                $success-main 0%,
                $success-subtle 100%
              );
              box-shadow: 0 6px 8px $primary-subtle;
            }

            &-warning {
              background: linear-gradient(
                225deg,
                $warning-main 0%,
                $warning-subtle 100%
              );
              box-shadow: 0 6px 8px $primary-subtle;
            }

            &-danger {
              background: linear-gradient(
                225deg,
                $danger-main 0%,
                $danger-subtle 100%
              );
              box-shadow: 0 6px 8px $primary-subtle;
            }
          }
        }
      }

      &-content {
        margin-bottom: 0.8rem;
        margin-top: 1.6rem;

        .value {
          color: #000;
          font-size: 3.8rem;
          font-weight: 400;
          line-height: 4.6rem;

          @include screen(figma-mobile) {
            font-size: 2.4rem;
          }
          @include screen(small-mobile) {
            font-size: 2.4rem;
          }

          @include screen(big-tablet) {
            font-size: 2.8rem;
          }

          @include screen(desktop) {
            font-size: 3rem;
          }

          @include screen(desktop-medium) {
            font-size: 3.4rem;
          }

          @include screen(desktop-large) {
            font-size: 3.8rem;
          }
        }

        .selected {
          color: $essentials-background;
          display: none;
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 2rem;
        }
      }

      &-body {
        padding: 1.6rem 1.6rem 0;
      }
    }
  }
}
