$font-family: "Fira Sans";
$font-family-sans-serif: "Fira Sans", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$padding-base: 0.8rem;
$border-radius-base: 0.8rem;
$border-color-base: #d9d9d9;
$primary-main: #3a8ddb;
$primary-second: #bfe3ff;
$header-color: #374151;
$primary-subtle: #cfd7ff;
$primary-emphasis: #183c59;
$secondary-main: #1651a9;
$secondary-subtle: #cfe2ff;
$secondary-emphasis: #163769;

// $accent-main: #89d307;
// $accent-subtle: #ecffca;
// $accent-emphasis: #465a23;
$accent-main: #89d307;
$accent-subtle: #ecffca;
$accent-emphasis: #465a23;
$success-main: #26d762;
$success-subtle: #cfffdf;
$success-emphasis: #1b6032;
$danger-main: #ee1c28;
$danger-subtle: #ffe9ea;
$danger-emphasis: #74161b;
$warning-main: #ff8427;
$warning-subtle: #ffddc2;
$warning-emphasis: #83481c;
$essentials-background: #fafafa;
$essentials-border: #fafafa;
$essentials-dark: #161616;
$essentials-white: #fff;
$disable-background: #f5f5f5;
$disable-border: #d2d2d2;
$disable-neutral: #bec1c6;
$text-title: #1a212b;
$text-body: #5a6a85;
$text-light: #f6f9fc;
$text-placeholder: #9da5b3;
$table-header-background-color-base: #ebf5fb;
$table-header-color-base: #1b507a;

// breakpoints
$figma-mobile: 361px;
$small-mobile: 375px;
$mobile: 480px;
$tablet: 576px;
$big-tablet: 768px;
$desktop: 992px;
$desktop-medium: 1200px;
$desktop-large: 1400px;
$desktop-extralarge: 1600px;
$mobile-footer-height: 9rem;
