.welcome {
  gap: 24px;
  min-height: 60vh;
  width: 100%;
}

.welcome-copy {
  text-align: center;
}

.welcome-title {
  color: #3a8ddb;
  margin: 0;
}

.welcome-subtitle {
  color: rgb(0 0 0 / 45%);
}

.logo-wrapper {
  height: 80px;
  position: relative;
  width: 200px;
}
