.additional-expense-detail-overview-wrapper {
  display: flex;
  flex-flow: column;
  height: 100%;

  &__header {
    flex: 0 1 auto;
  }

  &__content {
    flex: 0 1 auto;
    max-height: 500rem;
    overflow-x: hidden;
    padding: 25px;
  }
}
