@use "@sera-assets/sass/mixins" as *;
@import "@sera-assets/sass/variables";

.card-title {
  background: white;
  font-size: 18px;
  left: 3rem;
  margin-bottom: 16;
  position: absolute;
  top: -15px;
  width: max-content;
}

.card-container {
  border: 1px solid #3a8ddb61;

  &.prev {
    border: 1px solid $danger-main;
  }

  &.new {
    border: 1px solid $success-main;
  }
}

.swap-icon {
  font-size: 2em;

  > span {
    transform: rotate(90deg) !important;
  }
}
