@use "@sera-assets/sass/mixins" as *;
@import "@sera-assets/sass/variables";

.driver-stock-detail-overview-wrapper {
  display: flex;
  flex-flow: column;
  height: 100%;

  &__header {
    flex: 0 1 auto;
  }

  &__content {
    flex: 0 1 auto;
    max-height: 500rem;
    overflow-x: hidden;
    padding: 25px;
  }
}

.secondary-text {
  color: rgb(0 0 0 / 45%);
  font-size: 10pt;
  font-weight: normal;
}

.desc-label {
  font-size: 8.5pt;
  font-weight: bold;
  margin-top: -15px;
}

.desc-column {
  display: inline-block;
  font-size: 8pt;
  margin-right: 30px;
  text-align: left;
}

.title-event-history {
  font-size: 10pt;
  font-style: italic;
  font-weight: bold;
  margin-top: 20px;
}
